		font {
		font-family: Arial, Verdana, sans-serif;
		font-size: xx-small;
		}
		table {
		font-family: Arial, Verdana, sans-serif;
		font-size: xx-small;
		}
		a:link{
		font-family: Arial, Verdana, sans-serif;
		font-size: xx-small;
		color: #000000;
		}
		a:visited{
		font-family: Arial, Verdana, sans-serif;
		font-size: xx-small;
		color: #000000;
		}
		a:hover{
		font-family: Arial, Verdana, sans-serif;
		font-size: xx-small;
		color: #FF0000;
		}
		a:active{
		font-family: Arial, Verdana, sans-serif;
		font-size: xx-small;
		color: #000000;
		}
		input.btn{
		color:#000000;
		font-family:'trebuchet ms',helvetica,sans-serif;
		font-size:100%;
		background-color:##FFEEDD;
		border:1px solid;
		border-top-color:#000000;
		border-left-color:#000000;
		border-right-color:#000000;
		border-bottom-color:#000000;
		filter:progid:dximagetransform.microsoft.gradient(gradienttype=0,startcolorstr='#ffffffff',endcolorstr='#dddddddd');
		height:16px;
		}
		input.btnhov{
		color:#FF0000;
		border-top-color:#FF0000;
		border-left-color:#FF0000;
		border-right-color:#FF0000;
		border-bottom-color:#FF0000;
		}
		.form_title{
		font-size: x-small;
		color: #777777;
		font-weight: bold;
		}
		.form_error{
		font-size: xx-small;
		color: #FF0000;
		}
		.forum_message{
		font-size: x-small;
		color: #000080;
		}